# Configuration file for dnsmasq.
#
# Format is one option per line, legal options are the same
# as the long options legal on the command line. See
# "/usr/sbin/dnsmasq --help" or "man 8 dnsmasq" for details.

#listen-address=127.0.0.1,{{ ansible_default_ipv4.address }}
domain={{ domain }}
address=/{{ domain }}/127.0.0.1
{% for nameserver in relay_nameservers %}
server={{ nameserver }}
{% endfor %}

no-hosts
addn-hosts=/etc/hosts.dnsmasq

port=53
domain-needed
bogus-priv
expand-hosts
cache-size=1000
no-resolv

# DHCP config
##################################

{% if dhcp_range is defined and dhcp_range|length %}
# DHCP global options
dhcp-option=option:router,{{ dhcp_gateway }}
dhcp-option=option:domain-name,{{ domain }}
dhcp-option=option:domain-search,{{ domain }}
dhcp-option=option:dns-server,{{ ansible_default_ipv4.address }}
dhcp-authoritative
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases
dhcp-option=option:interface-mtu,9000
#dhcp-option=option:ntp-server,10.1.0.2,10.1.0.3

dhcp-range={{ dhcp_range }}
{% endif %}